apispec==3.3.2
attrs==20.3.0
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
defusedxml==0.7.1
dict2xml==1.7.0
distlib==0.3.1
dnspython==2.1.0
docx==0.2.4
email-validator==1.1.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-AppBuilder==3.2.1
Flask-Babel==1.0.0
Flask-Excel==0.0.7
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lml==0.1.0
lxml==4.6.3
MarkupSafe==1.1.1
marshmallow==3.11.1
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.1
numpy==1.20.2
openpyxl==3.0.7
pandas==1.2.3
pandas-read-xml==0.1.0
Pillow==8.2.0
prison==0.1.3
pyarrow==3.0.0
pyecharts-jupyter-installer==0.0.3
pyexcel==0.6.6
pyexcel-handsontable==0.0.2
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
pyexcel-xls==0.6.2
pyexcel-xlsx==0.6.0
PyJWT==1.7.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-docx==0.8.10
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
SQLAlchemy==1.3.24
SQLAlchemy-Utils==0.36.8
texttable==1.6.3
urllib3==1.26.4
Werkzeug==1.0.1
WTForms==2.3.3
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
zipfile36==0.1.3
